*{
    margin: 0 ;
    padding: 0;
}
html{
   box-sizing:border-box;
   font-size: 70%;

}
body{
    padding:10rem 15rem;
    background-color: rgb(218, 218, 235);
}
.contaner{
    width: 100rem;
    margin: 0 auto;
    background: white;
  
}
.heading{ display: flex;
    border-top: 5px  solid rgb(197, 26, 26);
    justify-content: space-between;
    background-color: rgb(26, 236, 236);
    text-shadow: 1rem 1rem 0 2rem black;
    
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
}

li{
    list-style-type:decimal;
    border-bottom: 1px solid rgb(8, 2, 2);
    padding-left: 10px;
    font-size: 20px;
    font-weight: 700;
}

.form-input{
    font-size:18px ;
    background: #e7dddd2b;
    margin-bottom: 0.5rem;
    padding-left: 10px;
    
}
.btn{
    background-color:black;
    color: white;
    width: 5rem;
    font-size: 20px;
    font-weight: 700;
}